body {
  font-family: "Roboto", sans-serif;
  background-size: cover;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.currentWeather {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10% 8% 0 0;
  grid-gap: 1rem;
}
.location {
  grid-column: 1;
  grid-row: 1 / span 2;
  margin-right: 5rem;
  cursor: pointer;
}
.loc_cont {
  float: right;
  margin-top: 45%;
}
.location p {
  font-size: 1.2rem;
  line-height: 0rem;
  color: white;
}
.location h2 {
  font-size: 3.2rem;
  line-height: 0rem;
  color: white;
}
.weatherInfo {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 25rem;
  margin-bottom: -1rem;
}
.weatherIcon {
  flex: 0 0 1rem;
}
.icon {
  font-size: 14rem;
  color: white;
}
.forIcon {
  font-size: 4rem;
  color: white;
}
.selection {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin: -1rem 0 1rem 0;
  width: 100%;
  border-bottom: 1px solid transparent;
}
.selection :hover {
  cursor: pointer;
}
.selection :focus {
  border-bottom: 1px solid white;
}
.selection p {
  color: white;
  font-size: 0.9rem;
  padding-bottom: 0.2rem;
}
.hourly {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
  height: 5rem;
}

.hourConditions {
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 3.4rem;
}
.hourConditionsPrec {
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0.2rem -0.5em;
  height: 3.4rem;
}
.conditionsHprec {
  border-top: 2px solid #1a73e8;
  background-color: white;
  margin-top: 0rem;
  padding: 0.5rem;
  width: 1.35rem;
}

.conditionsH {
  background-color: white;
  width: 1rem;
}
.conditionsH p {
  margin-top: -1.2rem;
  font-size: 0.8rem;
  color: white;
}
.conditionsHprec p {
  margin-top: -2rem;
  font-size: 0.8rem;
  color: white;
}
.hoursPrec {
  grid-row: 2;
  display: flex;
  margin-top: -1.6rem;
  justify-content: center;
}
.hoursPrec p {
  font-size: 0.65rem;
  color: white;
}
.hours {
  grid-row: 2;
  display: flex;
  margin-top: -1.5rem;
  justify-content: center;
}
.hours p {
  font-size: 0.65rem;
  color: white;
}

.iconLoad {
  font-size: 14rem;
  color: #082444;
  pointer-events: none;
  animation: iconLoad-spin infinite 5s linear;
}
@keyframes iconLoad-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.weatherDetails {
  flex: 2 0 10rem;
}
.weatherDetails h2 {
  font-size: 2.25rem;
  line-height: 0rem;
  color: white;
}
.weatherDetails p {
  font-size: 1rem;
  line-height: 0.8rem;
  color: white;
}
#margin {
  margin-bottom: 1.6rem;
}

.forecast {
  display: flex;
  justify-content: space-between;
}
.forecastDay {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.forecastDay p {
  line-height: 0;
  color: white;
}
.iconForecast {
  font-size: 4rem;
}
.forecastTemp {
  display: flex;
  justify-content: space-between;
  gap: 0.25rem;
}
.forecastTemp p {
  line-height: 0;
  font-size: 1rem;
  color: white;
}
.minForTemp {
  color: gray;
}
@media screen and (max-width: 1024px) {
  body {
    background-size: auto;
  }

  .currentWeather {
    margin: 28vh 15vw 0 0;
  }
}
@media screen and (max-width: 768px) {
  .currentWeather {
    margin: 28vh 6vw 0 0;
  }
}
@media screen and (max-width: 428px) {
  .container {
    width: 100%;
  }
  .currentWeather {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    gap: 1rem;
    margin: 1rem 0.3rem 0.3rem 0.3rem;
  }
  .loc_cont {
    float: none;
    margin-top: 0%;
  }
  .location {
    width: 100%;
    margin-right: 0;
  }
  .weatherInfo {
    width: 100%;
    margin: 2rem 0 5rem 0;
  }
  .forIcon {
    font-size: 5.2rem;
  }
  .icon {
    font-size: 15rem;
  }
  .iconLoad {
    font-size: 15rem;
    margin-top: 25vh;
  }
  .hourly {
    margin: 2.5rem 0 0 0;
  }
  .forecast {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    width: 100%;
  }
}
@media screen and (max-width: 414px) {
  .loc_cont h2 {
    font-size: 2.25rem;
  }
  .location p {
    font-size: 0.8rem;
  }
  .weatherInfo {
    margin: 0;
  }

  .weatherInfo p {
    font-size: 0.8rem;
  }
  .icon {
    font-size: 13rem;
  }
  .iconLoad {
    margin-top: 13rem;
  }
  .hourly {
    margin: 2rem 0 0 0;
  }
}
@media screen and (max-width: 390px) {
  .loc_cont h2 {
    font-size: 2.6rem;
  }
  .location p {
    font-size: 1rem;
  }
  .weatherInfo {
    margin-top: 1rem;
  }
  .weatherInfo h2 {
    font-size: 2rem;
  }
  .weatherInfo p {
    font-size: 0.7rem;
  }
  .icon {
    font-size: 12rem;
  }
  .iconLoad {
    margin-top: 12rem;
  }
  .hourly {
    margin: 2.5rem 0 0 0;
  }
  .forecast {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 375px) {
  .location p {
    font-size: 1rem;
    line-height: 0.5rem;
  }
  .location h2 {
    font-size: 2.3rem;
  }
  .weatherInfo {
    margin: 0 0 2rem 0;
  }

  .icon {
    font-size: 11.4rem;
  }
  .forIcon {
    font-size: 4.3rem;
    color: white;
  }
  .iconLoad {
    font-size: 14rem;
  }

  .weatherDetails h2 {
    font-size: 2rem;
  }
  .hourly {
    grid-gap: 0.8rem;
    margin: 3rem 0 0rem 0;
  }
  .hours {
    margin-top: -1.3rem;
  }

  .forecastTemp p {
    line-height: 0;
    font-size: 80%;
    color: white;
  }
  .forIcon {
    font-size: 3.7rem;
    color: white;
  }
  .forecast {
    margin-top: 0rem;
  }
}
@media screen and (max-width: 360px) {
  .currentWeather {
    gap: 0rem;
  }
  .location p {
    font-size: 0.8rem;
    line-height: 0.5rem;
  }
  .location h2 {
    font-size: 2rem;
  }
  .icon {
    font-size: 10.7rem;
  }
  .weatherDetails h2 {
    font-size: 1.9rem;
  }
  .weatherInfo {
    margin: 0rem 0 0rem 0;
  }
  .hourly {
    margin: 1.5rem 0 0rem 0;
  }
}
@media screen and (max-width: 320px) {
  .location {
    margin-bottom: -3vh;
  }
  .weatherInfo {
    margin: 2rem 0 0rem 0;
  }
  .weatherInfo h2 {
    font-size: 1.5rem;
  }
  .icon {
    font-size: 8rem;
  }
  .forIcon {
    font-size: 3.6rem;
  }
  .iconLoad {
    font-size: 11rem;
  }
  .weatherDetails {
    margin: -2.5rem 0 1rem 0;
  }

  .hourly {
    margin: 0.5rem 0 0.5rem 0;
  }
}
